node_modules
dist
dist-ssr
*.local

# Astro
.astro

# Sanity Studio
studio/node_modules
studio/dist
studio/.sanity

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*.local
studio/.env
